# Task 1:
# It is completed to the best of my ability.
# This was run in windows command prompt terminal (Visual Studio Code).

# Task 2:
# It is completed to the best of my ability. "Energy" was not analysed in the attempt due to time constraints. 
# This was run in windows command prompt terminal (Visual Studio Code). 
# Otherwise pip install pandas, pip install matplotlib, otherwise the imports will not work.

# Task 3:
# It was not completed.
# It was attempted but incomplete due to time constraints and lacking knowledge.
# Requires Pipfile and Pipfile.lock
# This was run in WSL Linux(Ubuntu) terminal (Visual Studio Code).
# Install Flask: pip install Flask and pipenv install Flask
# If I had more time: 
# I would have learnt more about Flask and endpoints in Python. I was learning how to create and map Python classes based on the JSON file and read it. There is a function to paste the JSON file as a class inside the file. After this, I found it difficult to understand the tutorials online. 

# The resources used at the time were: 
# https://auth0.com/blog/developing-restful-apis-with-python-and-flask/#-span-id--python-classes----span--Mapping-Models-with-Python-Classes
# https://doc.fireflymigration.com/loading-an-object-from-json.html

